<!DOCTYPE html>
<html lang="en">

<head>

  <title>Darkbridge</title>
  <meta name="description" content="An opinionated infrastructure-forward modern web template">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Darkbridge" />
  <!-- <meta property="og:image" content=""/>
<meta property="og:url" content=""/> -->
  <meta name="twitter:card" content="summary_large_image" />
  <!-- <meta name="twitter:domain" content=""/> -->
  <meta name="twitter:title" content="Darkbridge" />
  <meta name="twitter:description" content="An opinionated infrastructure-forward modern web template" />
  <!-- <meta name="twitter:image" content=""/>
<meta name="twitter:image:alt" content=""/>
<meta name="twitter:url" content=""/>
<meta name="twitter:creator" content=""/>
<link href="" rel="canonical" /> -->
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;1,400&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/a0f34ae769.js" crossorigin="anonymous"></script>

  <style>
    html {
      background-color: #2C3045;
    }

    body {
      margin: 0;
    }

    @font-face {
      font-family: 'Darkbridge Icons';
      src: url('/fonts/darkbridge_icons.ttf');
      /* IE9 Compat Modes */
      src: url('/fonts/darkbridge_icons.ttf') format('truetype'),
        /* Safari, Android, iOS */
    }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>
