<!DOCTYPE html>
<html lang="en">

<head>

  <title>Teddy</title>
  <meta name="description" content="Your home in good hands">
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Teddy" />
  <!-- <meta property="og:image" content=""/>
<meta property="og:url" content=""/> -->
  <meta name="twitter:card" content="summary_large_image" />
  <!-- <meta name="twitter:domain" content=""/> -->
  <meta name="twitter:title" content="Teddy" />
  <meta name="twitter:description" content="Your home in good hands" />
  <!-- <meta name="twitter:image" content=""/>
<meta name="twitter:image:alt" content=""/>
<meta name="twitter:url" content=""/>
<meta name="twitter:creator" content=""/>
<link href="" rel="canonical" /> -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a0f34ae769.js" crossorigin="anonymous"></script>

  <style>
    html {
      background-color: #f9f9f9;
    }

    body {
      margin: 0;
    }

    @font-face {
      font-family: 'Teddy Icons';
      src: url('/fonts/iconly_light.ttf');
      src: url('/fonts/iconly_light.ttf') format('truetype');
    }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>
